/*
	By PixelZerg
*/

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centerwrapper {
    text-align: center;
}

.centerwrapper * {
    display: inline-block;
}

.page-title, .post-title, .post-title a {
    /*color: #aa0000;*/
    font-size: 50px;
}

.read-more {
	
}

.odeimg{
	background-color: #fff;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 25px 15px;
}

.owl-carousel .owl-item img{
	margin-top: 15px;
}

.owl-carousel{
	position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-color: rgba(34,34,34,1);
}

.owl-stage{
    background-color: rgba(34,34,34,1);
}

.owl-theme .owl-controls .owl-nav [class*='owl-'] {
    background: transparent;
}

.jimg{
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: block;
    overflow: hidden;
}
.jimg img{
	position: relative;
    height: auto;
    width: 100%;
}