<script>
function Darken(){
	$("body").css("background-color","#111");
	$("body").css("color","#aaa");
	$("a").css("color","#336666");
	$(".page-title, .post-title, .post-title a").css("color","#aaa");
	$("p").css("color","#aaa");
	$(".post-date").css("color","#aaa");
	$("strong").css("color","#fff");
}
function Strip(){
	$(".masthead").html("");
	$(".masthead").attr("class","space");
	$("#floatingSocialShare").remove();
	$(".container.content").attr("class","pzcontainer content");
	$("#disqus_thread").remove();
	$(".related").html("<button class=\"button\" style=\"display: flex;overflow: hidden;margin: 10px;padding: 12px 12px;cursor: pointer;user-select: none;transition: all 60ms ease-in-out;text-align: center;white-space: nowrap;text-decoration: none !important;text-transform: none;text-transform: capitalize;color: #aaa;border: 0 none;border-radius: 4px;font-size: 14px;font-weight: 500;line-height: 1.3;-webkit-appearance: none;-moz-appearance: none;appearance: none;justify-content: center;align-items: center;flex: 0 0 160px;background: #505050;margin-left: 20%;width: 60%;\" onclick=\"window.history.back()\">Go Back<\/button>");
}
</script>