<div class="centerwrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.code }}" frameborder="0" class="center" id="{{ include.code }}" allowfullscreen></iframe></div>
<script>
//by PixelZerg
window.addEventListener('resize', function(event){
	resizeVideo();
});
function resizeVideo(){
	var elem = document.getElementById("{{ include.code }}");
	elem.setAttribute("width", elem.parentElement.clientWidth);
    elem.setAttribute("height", elem.parentElement.clientWidth*9/16);
}
resizeVideo();
</script>